.loadMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4fa94d;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.loadMoreBtn:hover {
  background-color: #45a047;
}
